<!-- Компонент Password Strength Tester -->
<h1>Password Strength Tester</h1>
<div>
    <label for="password">Пароль (тільки англійська мова):</label>
    <input type="{{ showPassword ? 'text' : 'password' }}" id="password" #passwordInput (input)="calculatePasswordStrength(passwordInput.value)">
    <button (click)="toggleShowPassword()">{{ showPassword ? 'Приховати пароль' : 'Показати пароль' }}</button>
</div>
<div>
    <!-- Класи кольорів залежать від сили паролю -->
    <div class="strength-section" [ngClass]="getPasswordStrength(password) === 'сірий' ? 'gray' : (getPasswordStrength(password) === 'простий' ? 'red' : (getPasswordStrength(password) === 'середній' ? 'yellow-2' : 'green'))"></div>
    <div class="strength-section" [ngClass]="getPasswordStrength(password) === 'сірий' ? 'gray' : (getPasswordStrength(password) === 'простий' ? 'gray' : (getPasswordStrength(password) === 'середній' ? 'yellow-2' : 'green'))"></div>
    <div class="strength-section" [ngClass]="getPasswordStrength(password) === 'сірий' ? 'gray' : (getPasswordStrength(password) === 'простий' ? 'gray' : (getPasswordStrength(password) === 'середній' ? 'gray' : 'green'))"></div>
</div>
<!-- Кінець компонента Password Strength Tester -->
